---
import Layout from '../layouts/Layout.astro';
import Precing from '@/components/Precing.astro';
import Call from '@/components/Call.astro';
import { FlickeringGridRounded } from "@/components/FlickeringGrid";
---

<Layout title="Quiénes Somos">

  <!-- Quiénes Somos -->
  <section class="min-h-screen relative overflow-hidden" id="about"> 
    <div class="absolute inset-0 bg-gradient-to-b from-black to-vampire"></div>
  
    <!-- Fondo dinámico FlickeringGridRounded -->
    <div class="absolute inset-0 z-0 w-full h-full pointer-events-none">
      <img src="/public/bg1.svg" alt="bg" class="absolute inset-0 w-full h-full object-cover">
      <div class="absolute inset-0 z-0 w-full h-full pointer-events-none opacity-20">
        <FlickeringGridRounded client:load />
      </div>
    </div>
  
    <div class="container mx-auto relative z-10 h-screen flex items-center justify-center px-4 sm:px-6 lg:px-8 -mt-10">
      <div class="grid grid-cols-1 gap-8 items-center w-full text-center">
        <!-- Contenedor de los textos -->
        <div class="relative max-w-full p-4 sm:p-6 bg-opacity-30"> 
          <h1 class="block text-3xl sm:text-4xl md:text-5xl lg:text-5xl font-bold mb-6 sm:mb-10 
          bg-clip-text text-transparent bg-gradient-to-r from-white to-lime-400 leading-tight sm:leading-snug relative">
            Quiénes Somos
          </h1>
        </div>
      </div>
    </div>
  
    <div class="absolute bottom-20 left-1/2 transform -translate-x-1/2 animate-bounce">
      <svg class="w-6 h-6 text-kiwi" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
      </svg>
    </div>
  </section>

  <!-- Nuestra Historia -->
  <section class="relative bg-gradient-to-b from-black to-vampire text-white py-16 lg:py-24">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
        <!-- Texto -->
        <div class="text-left">
          <h1 class="text-4xl font-bold mb-8">Nuestra Historia</h1>
  
          <h2 class="text-2xl font-semibold mb-4">El origen de MOWE Company</h2>
          <p class="mb-6">
            Mowe Company nació de una <span class="font-bold">idea compartida entre cinco amigos</span> apasionados por la tecnología
            y el desarrollo de software: Delivds, Juan José, José Alejandro, Isaac y Fernando. Durante nuestras prácticas del SENA,
            nos dimos cuenta de que teníamos una visión en común: crear soluciones tecnológicas innovadoras que marcaran la
            <span class="font-bold">diferencia</span> en la vida de las personas y en el crecimiento de las empresas.
          </p>
  
          <h2 class="text-2xl font-semibold mb-4">El inicio del camino</h2>
          <p class="mb-6">
            Lo que comenzó como un simple proyecto académico, evolucionó rápidamente en una iniciativa profesional. Al trabajar juntos
            en nuestra primera aplicación de transporte público, aprendimos a combinar nuestras habilidades en desarrollo móvil,
            diseño web y gestión de proyectos. Este desafío inicial nos inspiró a soñar en grande y formalizar nuestra colaboración
            bajo el nombre de MOWE Company.
          </p>
  
          <h2 class="text-2xl font-semibold mb-4">Nuestra filosofía</h2>
          <p class="mb-6">
            El nombre MOWE refleja movimiento e innovación, valores que están en el centro de todo lo que hacemos. Creemos que la
            tecnología no solo resuelve problemas, sino que también crea oportunidades para un mundo más conectado y eficiente.
          </p>
  
          <h2 class="text-2xl font-semibold mb-4">Nuestro compromiso</h2>
          <p class="mb-6">
            Desde el primer día, nuestro objetivo ha sido ofrecer servicios de calidad, respaldados por tecnologías modernas como
            React, Kotlin, Swift y herramientas de diseño como Figma. Nos esforzamos por ser más que un simple proveedor; queremos
            ser un socio confiable para nuestros clientes, ayudándolos a alcanzar el éxito en el entorno digital.
          </p>
  
          <h2 class="text-2xl font-semibold mb-4">Hacia el futuro</h2>
          <p>
            MOWE Company está en constante evolución, y esta es solo la primera página de nuestra historia. Estamos emocionados por
            todo lo que está por venir y agradecidos de que formes parte de este viaje con nosotros.
          </p>
        </div>
  
        <!-- Imagen -->
        <div class="flex justify-center lg:justify-end">
          <img
            src="http://localhost:4321/public/officine.svg"
            alt="Personas trabajando en equipo"
            class="rounded-lg shadow-lg max-w-full lg:max-w-lg"
          />
        </div>
      </div>
    </div>
  </section>  

  <!-- Nuestros Valores -->
  <section class="relative bg-vampire text-white py-16 lg:py-24">
    <h1 class="text-4xl text-center font-bold">Nuestros Fundadores</h1>
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 mt-20">
      <!-- Contenedor principal con 3 columnas -->
      <div class="grid grid-cols-3 gap-6 h-[800px]">
        <!-- Columna izquierda: Juan José -->
        <div class="relative group h-full">
          <img
            src="https://images.unsplash.com/photo-1599834562135-b6fc90e642ca?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Juan José"
            class="w-full h-full object-cover rounded-2xl"
          />
          <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent rounded-2xl"></div>
          <p class="absolute bottom-4 left-4 text-2xl font-semibold text-white">
            Juan José
          </p>
        </div>
  
        <!-- Columna central: 3 divs -->
        <div class="grid grid-rows-2 gap-6 h-full">
          <!-- Div superior: Isaac -->
          <div class="relative group">
            <img
              src="/public/issac.jpg"
              alt="Isaac"
              class="w-full h-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent rounded-2xl"></div>
            <p class="absolute bottom-4 left-4 text-2xl font-semibold text-white">
              Isaac
            </p>
          </div>
  
          <!-- Fila inferior con 2 columnas: José Alejandro y Fernando -->
          <div class="grid grid-cols-2 gap-6 h-full">
            <!-- José Alejandro -->
            <div class="relative group h-full">
              <img
                src="https://images.unsplash.com/photo-1624561172888-ac93c696e10c?q=80&w=1978&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="José Alejandro"
                class="w-full h-full object-cover rounded-2xl"
              />
              <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent rounded-2xl"></div>
              <p class="absolute bottom-4 left-4 text-2xl font-semibold text-white">
                José Alejandro
              </p>
            </div>
            <!-- Fernando -->
            <div class="relative group h-full">
              <img
                src="https://images.unsplash.com/photo-1544723795-3fb6469f5b39?q=80&w=1978&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Fernando"
                class="w-full h-full object-cover rounded-2xl"
              />
              <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent rounded-2xl"></div>
              <p class="absolute bottom-4 left-4 text-2xl font-semibold text-white">
                Fernando
              </p>
            </div>
          </div>
        </div>
  
        <!-- Columna derecha: Deivids Ortega -->
        <div class="relative group h-full">
          <img
            src="https://images.unsplash.com/photo-1543610892-0b1f7e6d8ac1?q=80&w=1856&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Deivids Ortega"
            class="w-full h-full object-cover rounded-2xl"
          />
          <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent rounded-2xl"></div>
          <p class="absolute bottom-4 left-4 text-2xl font-semibold text-white">
            Deivids Ortega
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Precing -->
  <Precing />

  <!-- Call to Action -->
  <Call />
</Layout>