---
import "@/styles/globals.css";
---

<section class="bg-vampire py-16" id="choose-us">
    <div class="container mx-auto px-4 flex flex-col lg:flex-row items-center gap-8 mt-20 mb-20">
      <!-- Texto principal -->
      <div class="lg:w-1/2">
        <h2 class="text-4xl font-bold text-white mb-4">¿Por qué elegir Mowe?</h2>
        <p class="text-gray-300 mb-6">
          En Mowe, combinamos innovación, experiencia y un enfoque centrado en el cliente para ofrecer soluciones tecnológicas.
        </p>
        <p class="text-gray-300 mb-6">
          Nuestro compromiso con la calidad y la adaptabilidad nos permite diseñar herramientas efectivas que se ajustan a tus necesidades.
        </p>
        <p class="text-gray-300">
          Con nosotros, no solo obtienes un producto; obtienes un aliado estratégico que entiende tus objetivos y trabaja para alcanzarlos contigo.
        </p>
        <div class="flex gap-4 mt-6">
          <div class="bg-[#131316] border-2 border-[#1E1E22] p-4 rounded-xl text-center">
            <p class="text-4xl font-bold text-gray-300">90<span class="text-green-500">%</span></p>
            <p class="text-gray-300 font-bold">Satisfacción del cliente</p>
          </div>
          <div class="bg-[#131316] p-4 border-2 border-[#1E1E22] rounded-xl text-center">
            <p class="text-4xl font-bold text-gray-300">80<span class="text-green-500">%</span></p>
            <p class="text-gray-300 font-bold">Proyectos entregados <br>antes del plazo</p>
          </div>
        </div>
        <div class="flex justify-start">
          <a href="/MoweCompany/contact" class="mt-6 px-6 py-2 bg-black text-white rounded-xl border-2 border-[#1E1E22]">
            Empezar
          </a>  
        </div>
      </div>
      <!-- Imagen -->
      <div class="lg:w-1/2">
        <img
          src="/public/officine.svg"
          alt="Team working"
          class="rounded-lg shadow-lg"
        />
      </div>
    </div>
    <!-- Texto secundario -->
    <div class="container mx-auto px-4 flex justify-center mt-24">
        <h2 class="text-3xl text-gray-300 mb-4 text-start">
            Mowe Company es una empresa de desarrollo de software enfocada en <span class="text-green-500 font-bold">crear soluciones</span> 
            tecnológicas innovadoras y personalizadas. Ofrecemos servicios como creación de páginas web, desarrollo de aplicaciones móviles y asesoramiento especializado. 
            Nos diferenciamos por nuestro <span class="text-green-500 font-bold">compromiso</span> con la calidad, la adaptabilidad y la innovación, 
            brindando herramientas modernas que <span class="text-green-500 font-bold">transforman negocios y potencian la experiencia digital.</span>
        </h2>
    </div>
</section>