---
import "@/styles/globals.css";
import { FlickeringGridRounded } from "@/components/FlickeringGrid";
import { RainbowButton } from "@/components/ui/rainbow-button";
---

<section class="min-h-screen relative overflow-hidden" id="hero"> 
    <div class="absolute inset-0 bg-gradient-to-b from-black to-vampire"></div>
  
    <!-- Fondo dinámico FlickeringGridRounded -->
    <div class="absolute inset-0 z-0 w-full h-full pointer-events-none">
      <img src="/MoweCompany/bg1.svg" alt="bg" class="absolute inset-0 w-full h-full object-cover">
      <div class="absolute inset-0 z-0 w-full h-full pointer-events-none opacity-20">
        <FlickeringGridRounded client:load />
      </div>
    </div>
  
    <div class="container mx-auto relative z-10 h-screen flex items-center px-4 sm:px-6 lg:px-8 -mt-10">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center w-full">
        <!-- Contenedor de los textos -->
        <div class="relative max-w-full self-start p-4 sm:p-6 bg-opacity-30">
          <div class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-10 
              inline-block px-3 sm:px-4 py-1 bg-black/30 text-white text-xs sm:text-sm 
              border border-sea rounded-full
              shadow-[0_0_20px_5px_rgba(163,230,53,0.3)]
              before:absolute before:inset-0 before:-z-10 
              before:bg-lime-400/20 before:blur-xl before:rounded-full
              animate-pulse">
            Mowe: Tu futuro, transformado
          </div>
          
          <h1 class="block text-3xl sm:text-4xl md:text-5xl lg:text-5xl font-bold mb-6 sm:mb-10 
          bg-clip-text text-transparent bg-gradient-to-r from-white to-lime-400 leading-tight sm:leading-snug relative">
            Transformamos Ideas en 
            <span class="text-kiwi block mt-4 sm:mt-8">
              Experiencias
            </span>
            <span class="text-kiwi block mt-4 sm:mt-8">
              Digitales
            </span>
          </h1>
          <div class="flex flex-wrap gap-4 sm:gap-8">
            <a href="/contact" class="px-6 py-3 bg-jungle border-kiwi border text-kiwi font-bold 
            rounded-lg text-sm sm:text-base shadow-lg hover:bg-kiwi/70 transition">Iniciar Proyecto</a>
            <RainbowButton client:load scrollToId="services">Descubre Más</RainbowButton>
          </div>
        </div>

        <!-- Contenedor de la imagen -->
        <div class="flex justify-center items-center mt-8 md:mt-0">
          <img src="/MoweCompany/favicon.svg" alt="Logo animation" 
          class="w-full max-w-[280px] sm:max-w-[400px] md:max-w-xl md:ml-0 lg:ml-40">
        </div>
      </div>
    </div>
  
    <div class="absolute bottom-20 left-1/2 transform -translate-x-1/2 animate-bounce">
      <svg class="w-6 h-6 text-kiwi" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
      </svg>
    </div>
</section>