---
import "@/styles/globals.css";
---

<section class="py-20 bg-vampire text-white" id="pricing">
    <div class="container mx-auto px-4 mt-20 mb-20">
      <!-- Título y descripción -->
      <div class="text-center">
        <h2 class="text-4xl md:text-5xl font-semibold">
          Planes flexibles diseñados <br> para impulsar tu negocio
        </h2>
        <div class="text-gray-300 mt-6 max-w-3xl mx-auto">
          <p class="text-gray-300 mt-4">
            En Mowe, ofrecemos planes de precios adaptados a tus necesidades, desde soluciones básicas hasta desarrollos avanzados.
            Nuestro objetivo es garantizar el mejor valor, combinando calidad, innovación y accesibilidad.
          </p>
        </div>
      </div>
  
      <!-- Título de precios -->
      <div class="relative flex justify-center mt-8">
        <h1
          class="text-4xl sm:text-5xl md:text-7xl lg:text-9xl xl:text-[12rem] font-bold text-center text-white"
        >
          Precios
        </h1>
      </div>
  
      <!-- Tarjetas de Planes -->
      <div class="relative grid gap-6 sm:grid-cols-2 lg:grid-cols-3 mt-10 sm:-mt-14">
        <!-- Tarjeta de Plan Starter -->
        <div class="p-8 bg-black/40 backdrop-blur rounded-2xl shadow-lg relative z-10">
          <h3 class="text-2xl font-bold">Starter</h3>
          <p class="text-sm text-gray-400 mb-6">Best for small Businesses</p>
          <p class="text-4xl font-bold">$3,999</p>
          <p class="text-sm text-gray-400 mb-6 text-end">Billed Yearly</p>
          <ul class="space-y-4 text-gray-300">
            <li>✔️ AI-powered automation of simple workflows (e.g., data entry, basic reporting)</li>
            <li>✔️ Limited access to advanced analytics and insights</li>
            <li>✔️ 10 hours of dedicated consulting time per month</li>
          </ul>
          <div class="flex justify-center">
            <a href="/contact" class="mt-6 w-full text-center py-2 bg-black border-2 border-raisin text-white rounded-2xl">
              Empezar
            </a>
          </div>
        </div>
  
        <!-- Tarjeta de Plan Pro -->
        <div class="p-8 bg-black/40 border-2 backdrop-blur border-kiwi rounded-2xl shadow-lg relative z-10">
          <h3 class="text-2xl font-bold">Pro</h3>
          <p class="text-sm text-gray-400 mb-6">Best for growing Businesses</p>
          <p class="text-4xl font-bold">$9,999</p>
          <p class="text-sm text-gray-400 mb-6 text-end">Billed Yearly</p>
          <ul class="space-y-4 text-gray-300">
            <li>✔️ Advanced AI-powered automation of complex workflows (e.g., sales, marketing, customer service)</li>
            <li>✔️ In-depth analytics and insights, including predictive modeling and machine learning capabilities</li>
            <li>✔️ Dedicated consulting time for 15 hours per month</li>
            <li>✔️ Full access to our advanced AI-powered automation platform</li>
          </ul>
          <div class="flex justify-center">
            <a href="/contact" class="mt-6 w-full text-center py-2 bg-black border-2 border-raisin text-white rounded-2xl">
              Empezar
            </a>
          </div>
        </div>
  
        <!-- Tarjeta de Plan Enterprise -->
        <div class="p-8 bg-black/40 rounded-2xl backdrop-blur shadow-lg relative z-10">
          <h3 class="text-2xl font-bold">Enterprise</h3>
          <p class="text-sm text-gray-400 mb-6">Best for large Enterprises</p>
          <p class="text-4xl font-bold">$19,999</p>
          <p class="text-sm text-gray-400 mb-6 text-end">Billed Yearly</p>
          <ul class="space-y-4 text-gray-300">
            <li>✔️ Customized AI-powered automation solutions for all business processes</li>
            <li>✔️ Deep analytics and insights, including advanced predictive models and machine learning algorithms</li>
            <li>✔️ Access to a team of senior experts who have worked with multiple Fortune 500 companies</li>
            <li>✔️ Full ownership and customization of the AI platform and workflows</li>
            <li>✔️ Dedicated support for complex projects, including on-site consulting and deployment</li>
          </ul>
          <div class="flex justify-center">
            <a href="/contact" class="mt-6 w-full text-center py-2 bg-black border-2 border-raisin text-white rounded-2xl">
              Empezar
            </a>
          </div>
        </div>
      </div>
    </div>
</section>