---
import { ValuesCarousel } from "@/components/ValuesCarousel ";
import "@/styles/globals.css";
---

<section class="py-20 bg-gradient-to-t from-vampire to-black" id="values">
    <div class="container mx-auto px-4 mt-20 mb-20">
      <h2 class="text-5xl font-bold text-white mb-12">
        Nuestros Valores
      </h2>
      <ValuesCarousel client:load />
    </div>
</section>